export GITHUB_TOKEN=$(cat $HOME/dev/secrets/github/fluxcd/token)
export GITHUB_USER=$(cat $HOME/dev/secrets/github/fluxcd/user)
export HCLOUD_TOKEN=$(sops --decrypt --extract '["hcloud"]["token"]' terraform/hetzner/secrets/base.yaml)
export KUBECONFIG=$(expand_path ./terraform/hetzner/kubeconfig.yaml)

use flake . --fallback
