export GITHUB_TOKEN=$(sops --decrypt --extract '["github"]["fluxcd"]["token"]' terraform/hetzner/secrets/base.yaml)
export GITHUB_USER=$(sops --decrypt --extract '["github"]["fluxcd"]["user"]' terraform/hetzner/secrets/base.yaml)
export HCLOUD_TOKEN=$(sops --decrypt --extract '["hcloud"]["token"]' terraform/hetzner/secrets/base.yaml)
export KUBECONFIG=$(expand_path ./terraform/hetzner/kubeconfig.yaml)

use flake . --fallback
