export GITHUB_TOKEN=$(cat $HOME/dev/secrets/github/fluxcd/token)
export GITHUB_USER=$(cat $HOME/dev/secrets/github/fluxcd/user)
export KUBECONFIG=$(expand_path ./terraform/hetzner/kubeconfig.yaml)

use flake . --fallback
